.Tile {
  border: 1px solid #bfa89e;
  background-color: #bfa89e;
}

.Tile__background {
  background-color: #78a1bb;
  height: 100px;
  width: 100px;
}

.Tile__background--clipped {
  clip-path: polygon(
    30% 5%,
    70% 5%,
    95% 30%,
    95% 70%,
    70% 95%,
    30% 95%,
    5% 70%,
    5% 30%
  );
}

.Tile__counter {
  position: relative;
  margin-top: -78px;
  font-size: 40px;
  font-weight: bold;
}
